<div id="edit-user" class="meta-page">
	<h2>Edit <%= resource_name.to_s.humanize %></h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.email_field :email %><br/>

	  <%= f.text_field :name %><br/>

	  <%= f.password_field :current_password, placeholder: "Current password" %><br/>
	
	  <%= f.password_field :password, :autocomplete => "off", placeholder: "New password" %><br/>

	  <%= f.password_field :password_confirmation, placeholder: "New password confirmation" %><br/>

	  <button type="submit" class="classy primary" id="start-readertron">
		<span>Update settings</span>
    </button>
	<% end %>

	<h2><a href="/">(Back to Readertron)</a></h2>
	  
</div>