<div id="sign-in" class="meta-page">
	<img src="/assets/rss-bot.png"/>
	<h2>Sign up for READERTRON (or <a href="/users/sign_in">sign in</a>)</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <%= f.email_field :email, {placeholder: "E-mail address"} %>
	  <br />

	  <%= f.text_field :name, {placeholder: "Full name"} %>
	  <br />

	  <%= f.password_field :password, {placeholder: "••••••••••"} %>
	
	  <br />
	  <%= f.password_field :password_confirmation, {placeholder: "••••••••••"} %>

	  <br />
	  <button type="submit" class="classy primary">
		<span>Sign up for Readertron</span>
      </button>
	<% end %>
</div>