<h1>Subscriptions for <%= current_user.email %></h1>

<h2>Shared item feeds</h2>
<%= form_tag("/subscriptions/shared_feeds", :method => "post") do %>
<% Feed.where(shared: true).where("id != #{current_user.feed.id}").each do |feed| %>
	<%= hidden_field_tag("feeds[#{feed.id}]", 0) %>
	<%= check_box_tag("feeds[#{feed.id}]", 1, current_user.is_subscribed_to?(feed)) %> <%= feed.title %><br/>
<% end %>
<br/><%= submit_tag("Save") %>
<% end %>

<h2>To add more subscriptions</h2>
<h3>One at a time:</h3>
<%= form_tag("/subscriptions/create", :method => "post") do %>
  <%= text_field_tag(:feed_url) %>
  <%= submit_tag("Submit") %>
<% end %>

<h3>In bulk:</h3>
<ol>
	<li>Sign in to Google Reader.</li>
	<li>Click the little gear dropdown in the top right-hand corner of the page, and choose "Reader settings."</li>
	<li>Go to the <strong>Import/Export</strong> tab.</li>
	<li>Click the "download" link next to <strong>Your subscriptions</strong> in the <strong>OPML</strong> column.</li>
	<li>Upload the file you just downloaded, called <strong>google-reader-subscriptions.xml</strong>, using the uploader below.</li>
</ol>

<%= form_tag("/subscriptions/upload", :method => "post", :multipart => true) do %>
  <%= file_field_tag(:opml) %>
  <%= submit_tag("Submit") %>
<% end %>

<h2>Current subscriptions</h2>
<table>
	<th>Feed URL</th>
	<th>Feed Title</th>
	<th>Last Updated</th>
	<% @subscriptions.each do |subscription| %>
	<tr>
		<td><a href="/subscriptions/destroy/<%= subscription.id %>" onclick="return confirm('Are you sure?')">[x]</a> <%= subscription.feed.feed_url %></td>
		<td><%= subscription.feed.title %></td>
		<td><%= subscription.feed.last_modified ? time_ago_in_words(subscription.feed.last_modified) + " ago" : nil %></td>
	</tr>
	<% end %>
</table>