<div id="sign-in" class="meta-page">
	<img src="/assets/rss-bot.png"/>
	<h2>Sign in to READERTRON (or <a href="/users/sign_up">sign up</a>)</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <%= f.email_field :email, {placeholder: "E-mail address"} %>
	  <br/>
	  <%= f.password_field :password, {placeholder: "••••••••••"} %>
	  <br/>
	  <button type="submit" class="classy primary">
		<span>Sign in to Readertron</span>
      </button>

	  <% if devise_mapping.rememberable? -%>
	   <div id="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>
	<% end %>
</div>