<!DOCTYPE html>
<html>
<head>
  <title>Readertron</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="/assets/rss-bot.png" rel="shortcut icon"/>
</head>
<body>
	<% if alert %>
	<div id="alert-container"><div id="alert"><%= alert %></div></div>
	<% end %>
	

<%= yield %>

</body>
</html>