<div class="entry <%= entry.unread_for_user?(current_user) ? "unread" : "read" %> shared" style="height: auto;" id="entry-<%= index %>" post_id="<%= entry.id %>" feed_id="<%= entry.feed.id %>">
	<div class="card card-common">
		<div class="card-content">
			<div class="entry-container">
				<div class="entry-main">
					<% if entry.note.present? %>
					<div class="entry-note">
						<%= markdown("<strong>#{entry.feed.title}:</strong> #{entry.note}") %>
					</div>
					<% end %>
					<div class="entry-date">
						<%= pretty_date(entry.published) %>
					</div>
					<h2 class="entry-title">
						<a class="entry-title-link" target="_blank" href="<%= entry.url %>"><%= entry.title %></a>
					</h2>
					<div class="entry-title-go-to">
						<h2 class="entry-title"></h2>
						<div class="entry-icons">
							<div class="item-star star link unselectable empty">
								<h2 class="entry-title"></h2>
							</div>
						</div>
					</div>
					<%= render "share_authorstring", entry: entry %>
					<div class="entry-debug"></div>
					<div class="entry-annotations"></div>
					<div class="entry-body">
						<div>
							<div class="item-body">
								<div>
									<% if entry.url == "#quickpost" %>
										<%= markdown(entry.content) %>
									<% else %>
										<%= clean(entry.content) %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="comments">
			<div class="comments-top">
				Comments <span class="comments-count">(<%= entry.comments.count %>)</span>
			</div>
			<div class="comments-container">
			<% entry.comments.each do |comment| %>
				<%= render "comment", comment: comment %>
			<% end %>
			</div>
			<div class="comment-add-form">
				<a href="#" class="add-comment-link">Add Comment</a>
				<%= form_tag("/reader/create_comment", :method => "post", :style => "display: none;") do %>
				  <%= text_area_tag(:comment_content) %>
				  <div class="after-actions">
				    <%= submit_tag("Add Comment") %>
				    <a href="#" class="cancel-comment-add">Cancel</a>
				  </div>
				<% end %>
			</div>
		</div>

		<div class="card-actions card-bottom <%= entry.unread_for_user?(current_user) ? "unread" : "" %>">
			<div class="entry-actions">
				<span class="read-state-not-kept-unread read-state link unselectable" title="Keep unread">Keep unread</span>
				<wbr>
			</div>
		</div>
	</div>
</div>