<div id="panes">
	<div class="left-pane">
		<div id="subscriptions">
			<h3>Shared Items (<span id="shared_unread_count"><%= current_user.shared_unread_count %></span>)</h3>
			<ul>
				<% @shared_subscriptions.each do |subscription| %>
					<% next if subscription.feed.title.blank? %>
					<%= render "subscription", subscription: subscription %>
				<% end %>
			</ul>
			<h3>Subscriptions (<span id="total_unread_count"><%= current_user.total_unread_count %></span>)</h3>
			<ul>
			<% @regular_subscriptions.each do |subscription| %>
				<% next if subscription.feed.title.blank? %>
				<%= render "subscription", subscription: subscription %>
			<% end %>
			</ul>
		</div>
	</div>

	<div id="entries" class="cards right">
		<% @entries.each_with_index do |entry, index| %>
			<%= render "entry", entry: entry, index: index %>
		<% end %>
	</div>
</div>