<%= render "globals" %>

<div class="message-area-container" id="loading-area-container" style="display: none;">
	<div class="jfk-butterBar jfk-butterBar-shown jfk-butterBar-info" id="loading-area">Loading...</div>
</div>

<div id="broadcast-message-container" style="display: none;">
	<div id="broadcast-message">
		Thing has been loaded.
	</div>
</div>

<div id="quickpost-form" style="display: none;">
	<%= form_tag("/reader/quickpost", :method => "post") do %>
	  <%= text_field_tag(:title, nil, {placeholder: "Title for your quick post"}) %>
	  <br/>
	  <%= text_area_tag(:content) %>
	  <br/>
	  <%= submit_tag("Submit") %> <a href="#" id="cancel-quickpost">Cancel</a>
	<% end %>
</div>

<div id="panes">
	<div id="left-pane">
		<div id="subscriptions">
			<h3 feed_id="<%= current_user.feed.id %>" id="my-shared-items">
				<a href="#">My Shared Items</a>
				<% u = current_user.unreads.for_feed(current_user.feed.id).count(1)%>
				<span class="unread_count" id="my-unread-count" style="<%= u > 0 ? '' : 'display: none;' %>">
					(<%= u %>)
				</span>
			</h3>
			<h3 id="shared-items-link" feed_id="shared">
				<a href="#">Other Shared Items</a>
				<% u = @shared_unread_count %>
				<span class="unread_count" id="shared-unread-count" style="<%= u > 0 ? '' : 'display: none;' %>">(<%= u %>)</span>
			</h3>
				<ul>
					<% @shared.each do |subscription| %>
						<%= render "subscription", subscription: subscription %>
					<% end %>
				</ul>
			<h3>
				<a id="all-items-link" href="#">All Items</a>
				<% u = @unread_count %>
				<span class="unread_count" id="total-unread-count" style="<%= u > 0 ? '' : 'display: none;' %>">(<%= u %>)</span>
			</h3>
			<ul>
			<% @unshared.each do |subscription| %>
				<%= render "subscription", subscription: subscription %>
			<% end %>
			</ul>
		</div>
	</div>

	<div id="right-pane">
		<%= render "controls" %>

		<div id="entries">
		<% if @entries.present? %>
			<% @entries.each_with_index do |entry, index| %>
				<%= render (entry.shared? ? "share" : "entry"), entry: entry, index: index %>
			<% end %>
		<% else %>
			<div id="no-entries-msg">
				<% if @feed_name.present? %>
					<h2>"<%= @feed_name %>" has no unread items.</h2>
				<% else %>
					<h2>You have no unread items.</h2>
				<% end %>
				<span class="link view-all-items">View all items</span>
			</div>
		<% end %>
		</div>
	</div>
	
	<div id="end-of-the-line" style="display: none;">
		You have no more items!
	</div>
	<div id="entries-loader" style="display: none;">
		<img src="/assets/ajax-loader.gif"/>
	</div>
</div>