<script type="text/javascript">
	var POST_FILTERS = {
		date_sort: "revchron",
		items_filter: "unread",
		feed_id: ""
	};
	
	var UNREAD_COUNTS = <%= raw(@unread_counts.to_json) %>;
</script>

<div class="message-area-container" id="loading-area-container" style="display: none;">
	<div class="jfk-butterBar jfk-butterBar-shown jfk-butterBar-info" id="loading-area">Loading...</div>
</div>

<div id="panes">
	<div id="left-pane">
		<div id="subscriptions">
			<h3><a href="?feed_id=mine">My Shared Items</a></h3>
			<h3><a href="?feed_id=shared">Other Shared Items</a> <span id="shared_unread_count">(<%= current_user.shared_unread_count %>)</span></h3>
			<ul>
				<% @shared_subscriptions.each do |subscription| %>
					<%= render "subscription", subscription: subscription %>
				<% end %>
			</ul>
			<h3><a href="/">All Items</a> <span id="total_unread_count">(<%= @unread_counts.values.sum %>)</span></h3>
			<ul>
			<% @regular_subscriptions.each do |subscription| %>
				<%= render "subscription", subscription: subscription %>
			<% end %>
			</ul>
		</div>
	</div>

	<div id="right-pane">
		<div id="controls">
			<div role="button" id="viewer-refresh" class="jfk-button jfk-button-standard" tabindex="0" title="Refresh" style="-webkit-user-select: none;"><img src="/assets/refresh.png" alt="" class="jfk-button-img"></div>
			
			<div id="unread-or-all" class="jfk-button jfk-button-standard">
				<div class="menu-button-caption"><span id="new-items-count-visible"></span> new items</div>
				<div class="menu-button-dropdown">&nbsp;</div>
			</div>
			<div id="unread-or-all-menu" style="-webkit-user-select: none; left: 89px; top: 8px; display: none;">
				<div class="item" id="feed-all-items-filter" style="-webkit-user-select: none; ">
					<div style="-webkit-user-select: none;">All items</div>
				</div>
				<div class="item" id="feed-unread-items-filter" style="-webkit-user-select: none;">
					<div style="-webkit-user-select: none;"><span id="new-items-count-hidden"></span> new items</div>
				</div>
			</div>
			
			<div id="revchron" class="jfk-button jfk-button-standard jfk-button-checked">
				<div>Newest first</div>
			</div>
			
			<div id="chron" class="jfk-button jfk-button-standard jfk-button-unchecked">
				<div>Oldest first</div>
			</div>
			
		</div>
		<div id="entries">
		<% if @entries.present? %>
			<% @entries.each_with_index do |entry, index| %>
				<%= render (entry.shared? ? "share" : "entry"), entry: entry, index: index %>
			<% end %>
		<% else %>
			<div id="no-entries-msg">
				<h2>"<%= @feed_name %>" has no unread items.</h2>
				<span class="link view-all-items">View all items</span>
			</div>
		<% end %>
		</div>
	</div>
</div>